@import "tailwindcss";
@plugin "daisyui" {
	themes: light, dark, cupcake, bumblebee, emerald, corporate, synthwave, retro, cyberpunk, valentine, forest, aqua, lofi, pastel, fantasy, wireframe, black, luxury, dracula, cmyk, autumn, business, acid, lemonade, night, coffee, winter;
}

:root {
	--font-heading: "Montserrat", sans-serif;
	--font-sans: "Inter", sans-serif;
}

body {
  @apply antialiased;
}

@layer utilities {
	.flex-center {
		@apply flex justify-center items-center;
	}
	.absolute-center-h {
		@apply left-1/2 transform -translate-x-1/2;
	}
	.absolute-center-v {
		@apply top-1/2 transform -translate-y-1/2;
	}
}

.page-enter-active,
.page-leave-active {
	@apply transition-opacity ease-in-out duration-300;
}
.layout-enter-active,
.layout-leave-active {
	@apply transition-opacity ease-in-out duration-500;
}
.page-enter-from,
.page-leave-to,
.layout-enter-from,
.layout-leave-to {
	@apply opacity-0;
}